<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tunelease.lease-judgment-autoresearch</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/kobayashiisaoryou/anaconda3/bin/python</string>
    <string>/Users/kobayashiisaoryou/clawd/tune_lease_55/scripts/auto_research_lease_judgment.py</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>/Users/kobayashiisaoryou/clawd/tune_lease_55</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
    <key>PATH</key>
    <string>/Users/kobayashiisaoryou/anaconda3/bin:/Users/kobayashiisaoryou/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>10</integer>
  </dict>

  <key>WorkingDirectory</key>
  <string>/Users/kobayashiisaoryou/clawd/tune_lease_55</string>

  <key>StandardOutPath</key>
  <string>/Users/kobayashiisaoryou/clawd/tune_lease_55/logs/lease_judgment_autoresearch_stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/kobayashiisaoryou/clawd/tune_lease_55/logs/lease_judgment_autoresearch_stderr.log</string>

  <key>RunAtLoad</key>
  <false/>

  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
